ob-daterangepicker .picker-dropdown-container .picker .ranges-actions.custom-open {
    border-left: 1px solid #93908C;
    display: none;
}

calendar .input-container label {
    position: relative;
    top: 4px;
    color: #565154;
    font-size: 12px;
    display: none !important;
}

calendar .input-container input {
    position: absolute;
    right: 0;
    padding-left: 5px;
    box-sizing: border-box;
    width: 185px;
    height: 25px;
    font-size: 12px;
    outline: 0;
    border: 1px solid #93908C;
    border-radius: 2px;
    display: none;
}


date-range-picker .calendar:first-child {
    margin-right: 0px !important; 
}

ob-daterangepicker .picker-dropdown-container .picker {
    box-sizing: border-box;
    height: 0 !important;
    position: absolute;
    white-space: nowrap;
    overflow: visible;
    right: 0 !important;
    top: 0 !important;
    z-index: 10;
    border-radius: 2px !important;
    border: none !important;
    background: none !important;
}

calendar .board {
    top: 21px;
    white-space: nowrap;
    border: 1px solid #93908C;
    border-radius: 0 0 2px 2px;
    background: #fff;
}

@media screen and (max-width: 622px) {
    date-range-picker .calendar {
        display: block !important;
    }
}

.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 350px;
}

.cf-highlight {
    color: #f00;
}

.form-control[disabled], fieldset[disabled] .form-control {
    cursor: auto;
}

.cf-underline {
    text-decoration: underline;
}

.media-object {
    max-width: 350px;
}