<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CF Miniform Generator</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#2b3e50">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/angucomplete-alt.css" rel="stylesheet">
        <link href="css/ob-daterangepicker.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />
    </head>
    <body class="full-width" ng-cloak>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
               	    <div class="navbar-brand">Miniform Generator</div>
                </div>
            </div>
        </nav>
        <div class="container" ng-controller="generatorCtrl">
            <h1 class="page-header">Δημιουργήστε μία mini φόρμα αναζήτησης</h1>
            <div class="well bs-component">
                <form class="form-horizontal" name="miniform_generator_form" id="miniform_generator_form" novalidate>
                <fieldset>
                	<div id="step1">
	                    <legend>Βήμα 1</legend>
	                    <div class="form-group">
	                    	<label for="place" class="col-lg-2 control-label">Επιλέξτε</label>
		                    <div class="col-lg-10">
		                    	<select class="form-control" id="select" ng-model="whatToSearch" ng-change="termChanged()">
			                        <option value="destination">Προορισμό</option>
			                        <option value="hotel">Ξενοδοχείο</option>
		                    	</select>
		                    </div>
	                    </div>
	                    <div class="form-group">
	                        <label for="place" class="col-lg-2 control-label">Εισάγετε {{search_term}}</label>
	                        <div class="col-lg-10">
	                            <div angucomplete-alt 
	                            input-name="loc"
	                            id="place"
	                            placeholder="{{autocmplt_placeholder}}"
	                            selected-object="searchStr"
	                            remote-url="{{hostIp}}"'
	                            title-field="name_lt"
	                            description-field="nomos"
	                            minlength="3"
	                            field-required-class="location"
	                            field-required="auto_field_req"
	                            pause="400"
	                            input-class="form-control form-control-small"
	                            match-class="cf-highlight"
	                            ng-show="whatToSearch=='destination'"></div>
	                            <input type="text" class="form-control" id="hotel_url" name="hotelurl" placeholder="{{autocmplt_placeholder}}" ng-model="hotelurl" ng-required="input_field_req" ng-show="whatToSearch=='hotel'" ng-change="fetchHotel()">
								<div class="panel panel-default" ng-show="showHotelInfo">
								  <div class="panel-body">
								    <div class="media">
									  <div class="media-left">
									      <img class="media-object" ng-src="{{data.image}}" alt="{{data.name}}">
									  </div>
									  <div class="media-body">
									    <h4 class="media-heading">{{data.name}}</h4>
									    <span class="help-block">{{data.address.addressLine}}</span>
									    <p>{{data.description}}</p>
									  </div>
									</div>
								  </div>
								</div>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label for="destip" class="col-lg-2 control-label">Σελίδα εμφάνισης αποτελεσμάτων</label>
	                        <div class="col-lg-10">
	                            <input type="text" class="form-control" id="dest_ip" name="destip" placeholder="http://www.example.com/#/" ng-model="destinationip" ng-change="renderForm()" ng-required required>
	                        </div>
	                    </div>
	                </div>
	                <div id="step2">
	                    <legend>Βήμα 2</legend>
	                    <div class="form-group">
	                        <div class="col-lg-2"></div>
	                        <div class="col-lg-10">
	                            <button ng-click="langChange('el')" class="btn btn-info">Ελ</button>
	                            <button href="#" ng-click="langChange('en')" class="btn btn-info">En</button>
	                            <span class="help-block">*Προεπισκόπηση φόρμας σε διαφορετικές γλώσσες</span>
	                            <div class="panel panel-primary">
	                                <div class="panel-heading">
	                                    <h3 class="panel-title">Προεπισκόπηση</h3>
	                                </div>  
	                                <div class="panel-body">
	                                    <search-form-predefined
	                                    ng-show="simpleDirectiveIsVisible"
	                                    otagId="{{searchStr.originalObject.otag_id}}"
	                                    featureClass="{{searchStr.originalObject.feature_class}}"
	                                    nameLt="{{searchStr.originalObject.name_lt}}"
	                                    latitude="{{searchStr.originalObject.latitude}}"
	                                    longitude="{{searchStr.originalObject.longitude}}"
	                                    dest-ip="{{destinationip}}"
	                                    lang="{{language}}"
	                                    ng-cloak
	                                    ></search-form-predefined>
	                                    <search-form-hotel-predefined
	                                    ng-show="hotelDirectiveIsVisible"
	                                    dest-ip="{{destinationip}}"
	                                    hotelid="{{data._id}}"
	                                    hotelname="{{data.name}}"
	                                    lang="{{language}}"
	                                    ng-cloak
	                                    ></search-form-hotel-predefined>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div id="step3">
	                    <legend>Βήμα 3</legend>
	                    <div class="form-group">
	                        <label for="directive_style" class="col-lg-2 control-label">&ltstylesheets&gt</label>
	                        <div class="col-lg-10">
	                            <textarea class="form-control" rows="3" id="directive_style" ng-model="directiveStyle" disabled></textarea>
	                            <span class="help-block">Επικολλήστε τα link tags στη σελίδα που περιέχει το &ltsearch-form&gt tag.</span>
	                            <button class="btn btn-primary" clipboard supported="supported" text="directiveStyle" on-copied="copied()" on-error="fail(err)">Αντιγραφή</button>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label for="directive_code" class="col-lg-2 control-label">&ltcode&gt</label>
	                        <div class="col-lg-10">
	                            <textarea class="form-control" rows="3" id="directive_code" ng-model="directiveCode" disabled></textarea>
	                            <span class="help-block">Επικολλήστε το &ltsearch-form&gt tag στη σελίδα που επιθυμείτε να εμφανίζεται η φόρμα.</span>
	                            <button class="btn btn-primary" clipboard supported="supported" text="directiveCode" on-copied="copied()" on-error="fail(err)">Αντιγραφή</button>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label for="directive_script" class="col-lg-2 control-label">&ltscripts&gt</label>
	                        <div class="col-lg-10">
	                            <textarea class="form-control" rows="3" id="directive_script" ng-model="directiveScript" disabled></textarea>
	                            <span class="help-block">Επικολλήστε το script tag στη σελίδα που περιέχει το &ltsearch-form&gt tag.</span>
	                            <button class="btn btn-primary" clipboard supported="supported" text="directiveScript" on-copied="copied()" on-error="fail(err)">Αντιγραφή</button>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label for="directive_template" class="col-lg-2 control-label">&lttemplate&gt</label>
	                        <div class="col-lg-10">
	                            <textarea class="form-control" rows="3" id="directive_template" ng-model="directiveTemplate" disabled></textarea>
	                            <span class="help-block">Τοποθετήστε τον HTML κώδικα σε ένα ξεχωριστό αρχείο με όνομα "template.html" (χωρίς τα "") και τοποθετήστε το στον ίδιο φάκελο με τη σελίδα που περιέχει το &ltsearch-form&gt tag.</span>
	                            <button class="btn btn-primary" clipboard supported="supported" text="directiveTemplate" on-copied="copied()" on-error="fail(err)">Αντιγραφή</button>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                    	<div class="col-lg-12">
	                    		<div class="text-right">
	                    			<button ng-click="generateCode()" class="btn btn-success">Εμφάνιση κώδικα</button>        
	                    		</div>
	                    	</div>
	                	</div>
	                </div>
                </fieldset>
                </form>
            </div>
        </div>

        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/lib.min.js"></script>
		<script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
        <script src="js/angular-clipboard.js"></script>
        <script src="js/app.js"></script>
        <!-- End of Scripts -->
    </body>
</html>