<div class="cf-searchform">
    <div class="cf-searchform-container">
        <form id="srch" name="search" class="booking-form" novalidate>
            <div class="cf-searchform-contents">
                <div class="cf-searchform-destination">
                    <div class="cf-destination-container">
                        <div class="cf-destination-label">
                            <label class="cf-label">{{autocomplete_label}}</label>
                        </div>
                        <div class="cf-destination">
                            <h3>{{dest}}</h3>
                        </div>
                    </div>
                </div>

                <div class="cf-searchform-dates">
                    <div class="cf-dates-container">
                        <div class="cf-dates-label">
                            <label class="cf-label">{{datepicker_label}}</label>
                        </div>
                        <div class="cf-datepicker">
                            <ob-daterangepicker
                            ng-class="{'up': opts.dropsUp}"
                            class="{{opts.opens}}"
                            min-day="opts.min"
                            range = "opts.range"
                            linked-calendars="opts.linked"
                            on-apply="opts.rangeApplied(start, end)"
                            format="opts.format"
                            week-start="opts.weekStart"
                            auto-apply="opts.autoApply"
                            calendars-always-on="opts.calendarsAlwaysOn">
                            </ob-daterangepicker>
                        </div>
                    </div>
                </div>

                <div class="cf-searchform-persons">
                    <div class="cf-persons-container">
                        <div class="cf-persons-label">
                            <label class="cf-label">{{adults_label}}</label>
                        </div>
                        <div class="cf-person">
                            <input type="number" min="1" max="10" ng-model="adults" class="cf-input">
                        </div>
                    </div>
                </div>

                <div class="cf-searchform-children">
                    <div class="cf-children-container">
                        <div class="cf-children-label">
                            <label class="search-form-label">{{children_label}}</label>
                        </div>
                        <div class="cf-children">
                            <input type="number" min="0" max="4" ng-model="children" class="cf-input">
                        </div>
                    </div>
                </div>

                <div class="cf-searchform-children-ages" ng-if="children>0">
                    <div class="cf-children-ages-container">
                        <div class="cf-children-ages-label">
                            <label class="search-form-label">{{ages_label}}</label>
                        </div>
                        <div class="cf-children-ages">
                            <div class="search-form-age-input-div" ng-repeat="child in numberOf(children)">
                                <input type="number" min="0" max="17" ng-model="childrenAges[$index]" class="cf-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cf-submit">
                    <div class="cf-submit-container">
                        <div class="cf-search-button btn btn-primary" ng-click="search()"> {{search_btn_label}} </div>  
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</div>